{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/typescript"
  ],
  "ignorePatterns": ["node_modules", "dist", "build"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react", "prettier", "import", "@typescript-eslint"],
  "rules": {
    "import/no-unresolved": [2, { "caseSensitive": true }],
    "import/order": [2],
    "indent": ["error", 2, { "offsetTernaryExpressions": true }],
    "linebreak-style": [0, "unix"],
    "prettier/prettier": "error",
    "quotes": ["error", "single"],
    "react/jsx-filename-extension": [
      1,
      { "extensions": [".js", ".jsx", ".tsx"] }
    ],
    "react/prop-types": 0,
    "react/react-in-jsx-scope": "off",
    "semi": ["error", "never"]
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
        "moduleDirectory": ["node_modules", "src/"]
      },
      "typescript": {
        "project": "./tsconfig.json"
      }
    }
  }
}
